<div class="todo-container">
    <app-task-form (addTask)="addTask($event)"></app-task-form>
    <h1>To do list</h1>
   
    <!-- <div class="add-task">
        <input type="text"
  [(ngModel)]="newTaskTitle"
        placeholder="Add a new task.. "/>
        <button (click)="addTask()">Add</button>
    </div> -->
    <div class="filter-container">
        <!-- <button (click)="filter='all'" class="filter-btn">Toate</button>
        <button (click)="filter='todo'" class="filter-btn">Necompletate</button>
        <button (click)="filter='completed'" class="filter-btn">Completate</button> -->
        <button *ngFor="let filter of filters"(click)="setFilter(filter)"
     [class.active]="currentFilter === filter" 
        class="filter-btn">{{filter}}</button>
    </div>
<!-- Lista Taskuri -->
 <div>
    <ul class="task-list">
        <li *ngFor="let task of filteredTasks" [class.completed]="task.completed">
    
            <input type="checkbox"
            [(ngModel)]="task.completed"
    (change)="toggleTaskCompletion(task)"
            />
          <span>{{task.title}} {{task.category}}</span>
          <button (click)="deleteTask(task.id)">Delete</button>
        </li>
    </ul>
 </div>

</div>
